/*Ponemos el header para este rol*/
#profeHeader{
    background-image: url("../../img/imgHeader/code_header_01.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}
/*Damos formato  a todo el formulario*/
#asignaturasProfesor form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#asignaturasProfesor form div{
    width:50%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#asignaturasProfesor form input[type="submit"]{
	margin:30px;
}


/*Separamos los elementos del form*/
#practicaNueva form *{
	margin: 25px;
}


#listarPracticas{
    text-align: center;
}

.contenidoPractia>p>a{
    color:aquamarine;
}