.toggle,
[id^=drop] {
    display: none;
}

aside { 
    margin:0;
    padding: 0;
    background-color: #254441;
}


aside:after {
    content:"";
    display:table;
    clear:both;
}

aside ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }
    
aside ul li {
    margin: 0px;
    display:inline-block;
    background-color: #254441;
    }

aside a {
    display:block;
    padding:14px 20px;  
    color:#FFF;
    font-size:17px;
    text-decoration:none;
}


aside ul li ul li:hover { background: #000000; }

aside a:hover { 
    background-color: #000000; 
}

aside ul ul {
    display: none;
    position: absolute; 
    top: 47px; 
}
    
aside ul li:hover > ul {
    display:inherit;
}
    
aside ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}


aside ul ul ul li {
    position: relative;
    top:-60px;
    left:170px; 
}


@media all and (max-width : 768px) {


    aside {
        margin: 0 auto;
    }

    .toggle + a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: #254441;
        padding:14px 20px;  
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    [id^=drop]:checked + ul {
        display: block;
    }

    aside ul li {
        display: block;
        width: 100%;
        }

    aside ul ul .toggle,
    aside ul ul a {
        padding: 0 40px;
    }

    aside ul ul ul a {
        padding: 0 80px;
    }

    aside a:hover,
    aside ul ul ul a {
        background-color: #000000;
    }
  
    aside ul li ul li .toggle,
    aside ul ul a,
  aside ul ul ul a{
        padding:14px 20px;  
        color:#FFF;
        font-size:17px; 
    }
  
  
    aside ul li ul li .toggle,
    aside ul ul a {
        background-color: #212121; 
    }

    aside ul ul {
        float: none;
        position:static;
        color: #ffffff;
    }
        
    aside ul ul li:hover > ul,
    aside ul li:hover > ul {
        display: none;
    }
        
    aside ul ul li {
        display: block;
        width: 100%;
    }

    aside ul ul ul li {
        position: static;
    }

}

@media all and (max-width : 330px) {

    aside ul li {
        display:block;
        width: 94%;
    }

}