table {
color: #333;
width: 640px;
border-collapse:collapse; 
border-spacing: 0;
margin:0 auto;
}

td, th {
border: 1px solid transparent; 
height: 30px;
transition: all 0.3s; 
}

th {
background: #DFDFDF; 
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}


tr:nth-child(even) td { 
    background-color: #20f9d4; 
}


tr:nth-child(odd) td { 
    background-color: #1cc7db;
}

table tbody tr:hover { 
    background-color: blue;  
}