table {
color: #333;
width: 640px;
border-collapse:collapse; 
border-spacing: 0;
margin:10px auto;
}

td, th {
border: 1px solid transparent; 
height: 30px;
transition: all 0.3s; 
}

th {
background: #DFDFDF; 
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}


tr:nth-child(even) td { 
    background-color: #dedede; 
}


tr:nth-child(odd) td { 
    background-color: #cacaca;
}

table tbody tr:hover td { 
    background-color: grey; 
    color:white; 
}

table button{
	margin: 5px;
    width: 200px;
    padding: 5px;
}