*{
    box-sizing:border-box;
}

html, body{
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

#depuracion{
    display: none;
}

main{
    width:100%;
    background-color:#e9e9e9;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;

}

header{
    width:100%;
    height:150px;
    display:flex;
    justify-content:space-around;
    background: linear-gradient(#bcbcbc,#e9e9e9);
    flex-wrap:wrap;
    align-items: center;
}

header div a, section a{
    text-decoration: none;
    font-weight: bold;
}


header #logueado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header img{
    width: 150px;
}

aside ul{
    margin-top: 60px;
}

/*Boton menu*/
@media  (max-width: 799px){

    #btnMenu{
        display:none;
    }

    #btnMenu + label {
        background-image: url("../../img/menu.png");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 1001;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display:flex;
    }

    #btnMenu:checked + label{
        background-image: url("../../img/close.png");
        background-size: 40px 40px;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 1001;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display:flex;
    }

    aside{
        display: none;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #bcbcbc;
        opacity: 0.9;
        -webkit-animation-name: menuIn;
        -webkit-animation-duration: 0.4s;
        animation-name: menuIn;
        animation-duration: 0.4s;
        z-index: 1000;
    }

    aside ul li{
        list-style: none;
        line-height: 45px;        
        padding: 0;
        text-align: center;
    }

    aside ul li a{
        color:white;
    }

    #btnMenu:checked ~ aside {
        display: flex;
    }

    @-webkit-keyframes menuIn {
        from { 
            right: -2000px; 
            opacity: 0.2;
        } 
        to {
            right: 8px; 
            opacity: 0.7;
        }
    }

    @keyframes menuIn {
        from {
            right: -2000px; 
            opacity: 0.2;
        }
        to {
            right: 8px; 
            opacity: 0.7;
        }
    }
    
    
    .parallax {
        background-attachment: scroll;
    }

}
/*Boton Menu*/

section{
    font-family: 'Roboto','Khula', sans-serif;
    width:100%;
}

section section{
    width: 100%;
    background-color: #e9e9e9;
}

section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

section article:nth-child(-n+3){
    /*Cambiamos el hr por esta linea de separacion*/
    border-bottom:2px white solid;
    margin-bottom: 0px;
}

section article *{
    margin:10px 15px;
    width:90%;
}

section h1{
    text-align: center;
}

article img{
    width:300px;
}

footer{
    width:100%;
    background: linear-gradient(#e9e9e9,#bcbcbc);
    text-align: center;
}

footer h2{
    margin-top:0;
}

/*Menu login*/
#login{
    display: flex;
    flex-direction: column;
}

/*Pagina perfil*/
#verPerfil{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#verPerfil *{
    margin:10px;
}

/*btn para editar perfil*/
#verPerfil a{
    padding: 10px 15px;
    width:30%;
    background: #157ed8;
    color: #FF0;
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset -1px 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    margin:10px auto;
}

#verPerfil a:hover{
    background: #287fe9;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

#verPerfil a:active{
    background: #242fe9;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

/*btn del header*/
header div a, #login a {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFf;
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    margin:10px 15px;
}


#login a{
    width: 210px;
    text-align: center;
    margin: 5px;
}
header div a:hover,#login a:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
header div a:active,#login a:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
    color:#FF0;
}

h1,h2,h3,h4,h5{
    font-size: x-large;
}

/*
div{
    width:60px;
    height: 45px;
    position: relative;
    margin:0 auto;
}
*/

/*Efecto parallax*/
.parallax{
    
    background-attachment: scroll;

    /* Damos medidas */
    width: 90%;
    height: 300px; 

    /* Creamos el efecto */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Seleccionamos la imagen para cada div*/
#parallax1{
    background-image: url("../../img/daw.jpg");
}

#parallax2{
    background-image: url("../../img/asir.jpg");
}

#parallax3{
    background-image: url("../../img/dam.jpg");
}