@media  (min-width: 800px){
    
    header img{
        width: 150px;
    }

    section{
        display:flex;
        flex-direction:row-reverse ;
    }


    section section{
        display: flex;
        flex-direction:column;
    }

    article:hover{
        background-color: #1c63b2;
    }

    aside{
        width:25%;
        display:flex;
        background-color: #4b279d;
    }

    aside div{
        display:none; 
    }

    aside ul{
        display:flex;
        width: 100%;
        flex-direction:column;
        margin: 10px 0;
    }

    aside ul li{
        list-style: none;
        line-height: 45px;
        display: inline-block;
        padding: 0;
        text-align: center;
        width: 100%;

    }

    aside ul li a{
        text-decoration: none;
        margin: 0;
        padding:10px;
        color :black;
        width: 25%;
        line-height: 25px;
    }

    #btnMenu{
        display:none;
    }

}