@media  (min-width: 800px){

    section{
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:wrap;
    }

    article:hover{
        background-color: #1c63b2;
    }

    aside{
        width:100%;
        display:flex;
        background-color: #ff690d;
    }

    aside div{
        display:none; 
    }

    aside ul{
        display:flex;
        width: 100%;
    }

    aside ul li{
        list-style: none;
        display: inline-block;
        padding: 0;
        text-align: center;
        width: 15%;

    }

    aside ul li a{
        text-decoration: none;
        margin: 0;
        padding:10px;
        color :black;
        width: 25%;
        line-height: 25px;
    }

    aside ul li a:visited,aside ul li a:focus{
        color:black;
        margin:5px auto;
    }

    aside ul li:hover{
        border-left: 2px solid red;
        border-right:  2px solid red;
        background-color:#ff693a; 
    }

}