@media  (min-width: 1024px){
    
    section {
        flex-direction:row;
    }
    
    section section{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    
    section aside{
        width:25%;
    }

    section aside ul{
        display: flex;
        flex-direction:column;
    }

    aside ul li{
        width:100%;   
        margin: 10px auto;
        line-height: 60px;
    }

    aside ul li a {
        border:0;
    }

    article{
        border-bottom: solid 2px;
        border-color:white;
    }


}

@media  (min-width: 1224px){
    body{
        background-color: #1c63d8;

    }

    main{
        width:1024px;
    }


}